main {
    flex-grow: 1;
    flex: 1 1 auto;
    padding: var(--layout-padding-xlarge);
    width: 100%;

    &.fixed {
        max-width: 1100px;
    }

    &.fluid {
        max-width: 100%;
    }
}
