#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

main {
  flex: 1 1 auto;
  padding: var(--layout-padding-xlarge);
  width: 100%;
  max-width: 1280px;
}
